:host {

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        gap: 3em;
        box-sizing: border-box;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 95%;
        gap: 3rem;
        background: rgb(238, 238, 238);
        box-shadow: 1px 5px 20px 0px;
        box-sizing: border-box;
        padding: 4em 2em 0;

    }

    .data-contract{
        display: flex;
        box-sizing: border-box;
        flex-wrap: wrap;
        gap: 50px 100px;
        
    }

    .input-style {
        input{
            &:focus, 
            &:valid{
                border-bottom: 2px solid cornflowerblue;
            }

            // ~ quer dizer que o proximo elemento label
            //Quando clicar no input e estiver valido o label sobe 18px
            &:focus ~ label, 
            &:valid ~ label {
                transform: translateY(-25px);
                font-size: 14px;
            }
        }

        label{
            position: absolute;
            left: 0.5%;
            bottom: 0.5rem;
            color: rgb(150, 150, 150);
            transition: 0.5s ease-in-out;
            cursor: text;
        }


    }

  

    .input-style-date, .input-style{
        position: relative;
        height: 2em;
        box-sizing: border-box;
        input{
            height: 1.8em;
            &.ng-invalid.ng-touched{
                border-bottom: 2px solid red;
                transition: 0.5s ease-in-out;
            }

        }
        p {
            width: 150px;
            right: -25px;
            color: white;
            border: 2px solid red;
            border-radius: 15px;
            padding: 5px;
            background-color: rgb(255, 0, 0);
            position: relative;
            text-align: center;
            font-size: 12px;
            animation: fadein 1s;
            word-break: break-all;
    
            &::after {
                content: "";
                width: 10px;
                height: 10px;
                display: block;
                position: absolute;
                top: -9px;
                right: 10%;
                background-color: red;
                border: 2px solid red;
                border-color: transparent red red transparent;
                transform: rotate(225deg);
    
                @keyframes fadein {
                    from {opacity: 0;}
                    to {opacity: 1;}
                }
            }
        }

    }


    
    .input-style-date{
        width: 150px;
        label{
            position: absolute;
            left: 0.5%;
            bottom: 2rem;
            color: rgb(150, 150, 150);
            transition: 0.5s ease-in-out;
            cursor: text;
        }

        p{
            right: 0px;
            width: 120px;
        }
    }

    .data-itens{
        width: 100%;
        display: flex;
    }

    input{
        border: 0;
        border-bottom: 2px solid rgb(200, 200, 200);
        outline: 0;
        box-sizing: border-box;
        font-size: 16px;
        padding: 3px;
        &:hover {
            background: rgb(236, 236, 236);
        }
    }

    table{
        border-left: 0;
        width: 50em;
    }
    
    table ,th, td{
        border: 1px solid black;
        padding: 0.5rem;
        border-collapse: separate;
        border-color: rgb(224, 224, 224);
        border-spacing: 0 2em;
        border-top: 0;
        box-sizing: border-box;
    }

    table, td{
        border-bottom: 0;
    }

    td {
        position: relative;
        height: 5em;
        text-align: center;
        gap: 10px;
        box-sizing: border-box;
        input {
            //Quando clicarmos no input fica azul e caso estiver com conteudo dentro
            &:focus, 
            &:valid{
                border-bottom: 2px solid cornflowerblue;
            }

            // ~ quer dizer que o proximo elemento label
            //Quando clicar no input e estiver valido o label sobe 18px
            &:focus ~ label, 
            &:valid ~ label {
                transform: translateY(-22px);
                font-size: 14px;
            }

        }

        label{
            position: absolute;
            left: 9%;
            bottom: 2rem;
            color: rgb(150, 150, 150);
            transition: 0.5s ease-in-out;
            cursor: text;
        }
    }

    .item{
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;
        gap: 15px;
     
        input{
            &.ng-invalid.ng-touched{
                border-bottom: 2px solid red;
                transition: 0.5s ease-in-out;
            }
        }
        
        label{
            position: absolute;
            left: 4%;
            top: 13%;
            bottom: 2rem;
            color: rgb(150, 150, 150);
            transition: 0.5s ease-in-out;
        }
        
    }

    .input {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        ul {
            position: absolute;
            background: white;
            width: 100%;
            top: 27px;
        }
    }

    ul {
        
        display: none;
        border-radius: 10px;
        
        li{
        list-style: none;
        cursor: pointer;
        padding: 3px;
        &:hover{
            background-color: rgb(220, 220, 220);
        }
    }
    }

    .value-contract {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

        & div {
            display: block;
            position: absolute;
            bottom: 0;
            background-color: rgb(235, 235, 18);
            opacity: 0.5;
            box-sizing: border-box;
            padding: 20px;

            p {
                opacity: 1;
            }
            hr {
                opacity: 0.5;
                margin: 0 -10px;
            }
        }
    }

    .btn-delete {
        height: 20px;
        width: 25px;
        background-color: rgb(255, 4, 4);
        border: 0;
        cursor: pointer;
        font-size: 8px;
        color: white;
        border-radius: 10px;

        &:hover {
            background-color: rgb(210, 20, 20);
        }
    }

}