<div class="nav_information" style="display: flex; align-items: center; justify-content: space-between;">
    <div style="display: flex; align-items: center;">    
        <app-back-history/>
        <h2>Orçamento</h2>
    </div>

    <div class="status alert alert-info">
       <b>Status:&nbsp;</b><strong>{{status()}}</strong>
    </div>
</div>
<div class="layout">
    <form id="contractForm" [formGroup]="contractForm" (ngSubmit)="submit()">
        <app-header-contract [headerForm]="contractForm" (client)="OutPutIdClient($event)" [contractId]="contractId"/>
        <app-body-contract [bodyForm]="contractForm" (addItemForm)="addItens()" [contractId]="contractId"/>
        <app-footer-contract (submitOutPut)="submit()" [footerForm]="contractForm" [buttonDisabled]="!this.contractForm.valid" [contractId]="contractId" [buttonInput]="buttonFooter()">
        <ng-content></ng-content>
        </app-footer-contract>
    </form>
    
</div>
<!-- <app-table-contract/> -->


