
 <body #pdfContract>
    <header>
        <img src="{{companyData()?.imagem}}" alt="Rosa de Sarom" width="130px">
        <div>
            <h5>CONTRATO DE PRESTAÇÃO DE SERVIÇOS DE LOCAÇÃO DE ROUPAS E AFINS</h5>
            <h3>{{ companyData()?.fantasyName }}</h3>
        </div>
        <div style="display: flex; justify-content: end; flex-direction: column;">
            <span>Contrato número: {{ contract()?.id }}</span>
            <span>Data do contrato: {{ contract()?.dateContract | formatDatePipe}}</span>
        </div>
        
    </header>
    <main class="layout_content">
        <section class="section_information">
            <div class="content_information">
                <p><strong>Contratado: </strong>{{ companyData()?.reason }}</p>
                <p><strong>CNPJ: </strong>{{ companyData()?.cnpj | cpfCnpj }}</p>
                <p><strong>Endereço: </strong>{{ companyData()?.street }}, {{ companyData()?.number }} - {{ companyData()?.district }} - {{ companyData()?.city }}</p>
            </div>
            <div class="content_information">
                <p><strong>Nome Fantasia: </strong>{{ companyData()?.fantasyName }}</p>
                <p><strong>Tel./Cel.: </strong>{{ companyData()?.phone1 | phone}} / {{ companyData()?.phone2 | phone}}</p>
                <p><strong>Vendedor(a): </strong>{{ contract()?.seller }}</p>
            </div>
        </section>
        <section class="section_information">
            <div class="content_information">
                <p><strong>Contratante: </strong>{{ contract()?.client?.nameReason}}</p>
                <p><strong>CPF/CNPJ: </strong>{{ contract()?.client?.cpfCnpj | cpfCnpj}}</p>
                <p><strong>Email: </strong>{{ contract()?.client?.email }}</p>
            </div>
            <div class="content_information">
                
                <p><strong>Endereço: </strong>{{ contract()?.client?.address?.street }} - 
                    {{ contract()?.client?.address?.number }} - {{ contract()?.client?.address?.district }} - {{ contract()?.client?.address?.city }} - 
                    {{ contract()?.client?.address?.uf }}</p>
                <p><strong>Tel./Cel.: </strong>{{ contract()?.client?.phone1 | phone}} / {{ contract()?.client?.phone2 }}</p>
            </div>
        </section>
        <section class="section_information">
            <div class="content_information">
                @if (contract()?.dateEvent != null) {
                    <p><strong>Data Evento: </strong>{{ contract()?.dateTrialDress | formatDatePipe}}</p>
                }
                <p><strong>Data Retirada: </strong>{{ contract()?.dateOf | formatDatePipe}}</p>
                @if (contract()?.dateTrialDress != null) {
                    <p><strong>Data Prova: </strong>{{ contract()?.dateTrialDress | formatDatePipe}}</p>
                }
                <p><strong>Data Devolução: </strong>{{ contract()?.dateUntil | formatDatePipe}}</p>
            </div>
            <div class="content_information">
                <p><strong>VALORES PAGOS:</strong></p>
                @for (payment of contract()?.payment; track $index) {
                    <p>{{ payment.paymentValue | currency: 'BRL' }} - {{ payment.datePayment | formatDatePipe}}</p>
                }
            </div>
        </section>
        <section class="section_products">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-cod">
                            Código
                        </th>
                        <th class="table-cod">
                            Referência
                        </th>
                        <th class="table-cod">
                            Qtd.
                        </th>
                        <th>
                            Produto
                        </th>
                        <th>
                            Preço(unid.)
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (product of contract()?.items; track $index) {
                        <tr>
                            <td>
                                {{ product.cod }}
                            </td>
                            <td>
                                {{ product.reference }}
                            </td>
                            <td>
                                {{ product.amount }}
                            </td>
                            <td style="text-align: start; width: 360px;">
                                {{ product.name }}
                            </td>
                            <td>
                                {{ product.value  | currency: 'BRL'}}
                            </td>
                            <td>
                                {{ product.valueTotal  | currency: 'BRL'}}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="products_value_obeservation">
                <div class="products_observations">
                    <label>Obeservação:</label>
                    <p class="paragraph-clauses" [innerHTML]="observation"></p>
                </div>
                <div class="products_value">
                    <p><strong>Desconto:</strong> {{ discount() | currency: 'BRL'}}</p>
                    <p><strong>Valor dos Produtos:</strong> {{ contract()?.value | currency: 'BRL'}}</p>
                    <p><strong>Valor Total:</strong> {{ contract()?.valueTotal | currency: 'BRL'}}</p>
                </div>
  
            </div>
        </section>
        <section class="clauses" [innerHTML]="clauses()">
        </section>
        <section #signature class="section_signature">
                <!--<div class="signature_contract">
                    <p>Contratada: _________________________</p>
                    <p>{{ companyData()?.fantasyName }}</p>
                </div>-->
                <div class="signature_contract">
                    <p>Contratante: _________________________</p>
                    <p>{{ contract()?.client?.nameReason }} - ({{ contract()?.client?.cpfCnpj | cpfCnpj}})</p>
                </div>
        </section>
    </main>
</body>