<div class="layout_dashboard">
    <!-- START DATA ANALYTICS -->
    <div class="layout_dashboard-box">
        
            <div class="box" style="background-color: #0090d9;">
                <span>ORÇAMENTOS EFETIVADOS NO MÊS</span>
                <span class="number-box">{{getDataBudgetMonth()?.countContractMonth}}</span>
            </div>
      
   
            <div class="box" style="background-color: rgb(36, 191, 139);">
                <span>ORÇAMENTOS RESERVADOS NO MÊS</span>
                <span class="number-box">{{getDataBudgetMonth()?.countContractMonthReserve}}</span>
            </div>

            <div class="box" style="background-color: red;">
                <span>ORÇAMENTOS VENCIDOS NO MÊS</span>
                <span class="number-box">0</span>
            </div>

    </div>
    <!-- END DATA ANALYTICS -->
    <div class="layout_dashboard-main">
        <div class="layout_dashboard-cl1">
            <app-scheduling class="scheduling"/>
            <app-contract-for-month class="contract"/>
        </div>
        <div class="tasks">
            <h4>Tarefas</h4>
            <table class="table" #tableTasks>
                <thead>
                    <tr>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    @if (getTaskList(); as tasks) {
                        @for (task of tasks; track task) {
                            <tr>
                                <td>{{ task.description }}</td>
                                <!--<td><span class="check material-symbols-sharp">
                                    check
                                    </span></td>-->
                                <td [ngStyle]="{'display': authorization === true ? 'table-cell' : 'none'}"><span (click)="idTask = task.id; this.modalDeleteTasks.showModal()" class="delete material-symbols-sharp">
                                    close
                                    </span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
    
            <!--Start Dialogs-->
            <dialog class="dialog_delete" #modalDeleteTasks>
                    <h4>Deseja mesmo excluir?</h4>
                    <button style="margin: 0 10px;" class="btn_add" (click)="deleteTask(modalDeleteTasks);">Sim</button>
                    <button class="btn-delete" (click)="this.modalDeleteTasks.close()">Não</button>
            </dialog>
            <dialog class="dialog" #modalTasks>
                <div class="dialog_layout">
                    <div class="dialog_title">
                        <h2>Nova Tarefa</h2>
                    </div>    
                        <div class="dialog_content">
                            <form [formGroup]="tasksForm">
                                <label>
                                    <span>Descrição:</span>
                                    <textarea name="description" class="description inputGrey" style="height: 5em;" formControlName="description" required></textarea>
                                </label>
                                <div class="dialog_btns">
                                    <button (click)="submitTasks()" type="submit" [disabled]="!tasksForm.valid" class="btn-update">Salvar</button>
                                    <button class="btn-delete" (click)="closeDialog(modalTasks)">Fechar</button>
                                </div>
                            </form>
                        </div>
                    <div class="dialog_footer"></div>
          
                    
                </div>
                
            </dialog>
            <!--End Dialogs-->
            <button [ngStyle]="{'display': authorization === true ? 'block' : 'none'}" class="btn_add" (click)="this.modalTasks.showModal()">Adicionar Tarefa</button>
        </div>
    </div>
  
    
    <!-- START CONTAINER TASKS -->

    
    <!-- END CONTAINER TASKS -->
    
            <!-- START CONTAINER SCHEDULES -->
            
    <!-- START MODAL DELETE-->

    <!-- END MODAL DELETE-->
</div>