:host{
    height: 100%;
    padding: 2em;
    width: 100%;

    .layout__accounting {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
    }

    .vertical {
        max-width: 100%;
        border-left: 1px solid grey;
        margin: 10px;
        border-radius: 10px;
    }

    .layout__accouting-left, .expenses {
        width: 50%;
        margin: 0em 5em;
      
    }

    .inputs {
        display: flex;
        flex-direction: column;

        .inputs__information {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        table {
            margin: 0;
        }

        td, th {
            text-align: start;
        }
    }

    .expenses, .inputs {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .expenses::-webkit-scrollbar-thumb {
        background-color: rgb(175, 175, 175);
        border-radius: 20px;

      }

    .expenses::-webkit-scrollbar {
        width: 5px;  
             /* width of the entire scrollbar */
    }

    .expenses__table {
        margin: 0;
    }

    .layout__accounting-sections {
        display: flex;
        width: 100%;
    }

    .layout__accouting-left {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .values {
        display: flex;
        justify-content: center;
    }

    .values__box {
        display: flex;
        gap: 2.5em;
        width: 85%;
    }

    .month {
        display: flex;
        justify-content: center;

        input {
            width: 111px;
            height: 20px;
            margin: 1.5em 5em;
        }
    }
    
    @media (max-width: 733px) {
        
        .values__box {
            flex-direction: column;
            gap: 1em;
        }

        .layout__accounting-sections {
            flex-direction: column;
            width: 100%;
        }

        .inputs, .expenses, .layout__accouting-left {
            margin: 0;
            padding: 1em;
            width: 100%;
            box-sizing: border-box;
        }

        .expenses {
            overflow-x: auto;
        }

        .expenses::-webkit-scrollbar {
            width: 5px; 
            height: 5px;  
                 /* width of the entire scrollbar */
        }

    }

}