
    <nav>
        <a #data="routerLinkActive" routerLinkActive="active" [routerLink]="['../','data']">Dados da empresa</a>
        <a #budget="routerLinkActive" routerLinkActive="active" [routerLink]="['../','budget']">Orçamento</a>
        <a #contract="routerLinkActive" routerLinkActive="active" [routerLink]="['../','contract']">Contrato</a>
        <a #accounting="routerLinkActive" routerLinkActive="active" [routerLink]="['..','accounting']">Contabilidade</a>
    </nav>

        @defer (when data.isActive) {
            <app-company-data id="data"></app-company-data>
        }
      
        @defer (when budget.isActive) {
            <app-budget id="budget"></app-budget>
        }

        @defer (when contract.isActive) {
            <app-contract id="contract"></app-contract>
        }
        @defer (when accounting.isActive) {
            <app-accounting id="accounting"></app-accounting>
        }     

