<div style="background-color: whitesmoke;">
    <ul>
        <li #data="routerLinkActive" routerLinkActive="active" [routerLink]="['../','data']"><a>Dados da empresa</a></li>
        <li #budget="routerLinkActive" routerLinkActive="active" [routerLink]="['../','budget']"><a>Orçamento</a></li>
        <li #contract="routerLinkActive" routerLinkActive="active" [routerLink]="['../','contract']"><a>Contrato</a></li>
        <li #accounting="routerLinkActive" routerLinkActive="active" [routerLink]="['../','accounting']"><a>Contabilidade</a></li>
    </ul>

        @defer (when data.isActive) {
            <app-company-data id="data"></app-company-data>
        }
      
        @defer (when budget.isActive) {
            <app-budget id="budget"></app-budget>
        }

        @defer (when contract.isActive) {
            <app-contract id="contract"></app-contract>
        }
        @defer (when accounting.isActive) {
            <app-accounting id="accounting"></app-accounting>
        }     
</div>
