<div style="display: flex; align-items: center;">
    <app-back-history/>
    <h2>{{ tittle() }}</h2>
</div>
    <div class="layout">
        <div class="layout_content">
            <form class="form_data" id="register" [formGroup]="itemContract" enctype="multipart/form-data" >
                <section class="section_label">
                    <label class="label_form_data">
                        <span>Cód. Produto:</span>
                        <input id="codItem" class="inputGrey" type="number" placeholder="Nome do item" formControlName="cod" required [readOnly]="isReadOnlyCodItem()">
                    </label>
                    <label class="label_form_data">
                        <span>Nome do produto:</span>
                        <input type="text" class="inputGrey" placeholder="Nome do item" formControlName="name" required>
                    </label>
                    <label class="label_form_data">
                        <span>Quantidade:</span>
                        <input type="text" class="inputGrey" placeholder="Unidades do item" formControlName="amount" required>
                    </label>
                    <label class="label_form_data">
                        <span>Valor:</span>
                        <input type="text" class="inputGrey" placeholder="100,20 ou 1000,30" formControlName="value" required>
                    </label>
                    <label class="label_form_data">
                        <span>Valor da reposição:</span>
                        <input type="text" class="inputGrey" placeholder="100,20 ou 1000,30" formControlName="replacementValue" required>
                    </label>
                    <label class="label_form_data">
                        <span>Categoria:</span>
                        <div class="input_category">
                            <input 
                            class="inputGrey"
                            type="text"
                            formControlName="category"
                            required
                            (keyup)="filterCategory($event)"
                            (focusout)="removeListCategory($event)"
                            placeholder="Sapato"
                            >
                            <ul class="ul-menu" style="max-height: 110px;" id="filterItem">
                                @for (item of listFilterCategory(); track $index) {
                                    <li tabindex="0" (click)="setValueCategory(item.category)" (focus)="setValueCategory(item.category)"><span style="padding: 0.5em;" class="li-items">{{ item.category }}</span></li>
                                }
                            </ul>
                        </div>
                    </label>
                </section>
            </form>
                <hr>
            <form class="form_img" [formGroup]="formImg" (submit)="submitItem()" enctype="multipart/form-data">
                <section class="section_img">
                        <label class="img_item">
                            <input style="display: none;" type="file" name="imagem" (change)="onFileSelected($event, choose)" formControlName="imagem" required>
                            <span #choose class="span_img">Choose Image</span>
                        </label>
                </section>
            </form>
        </div>
        <div class="span-error">       
            @if ( getItemError$() ) {
            <span class="error_api">{{ getItemError$() }}</span>
            } @else if(getItemMsgSucess$()) {
            <span class="success_api">{{ getItemMsgSucess$() }}</span>
        }
    </div>
 
        <span class="span_button">
            <app-back-history-button/>
            <button class="btn_add" (click)="submitItem()" form="register" type="button" [disabled]="!itemContract.valid">{{ buttonSubmit() }}</button>
        </span>
    </div>


    




