
<!-- START CONTAINER SCHEDULES -->
<div class="schedules">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h4>Agendamentos</h4>
        <input #date style="width: 7rem;" class="inputGrey" value={{schedulesToday()}} type="date" (change)="schedulerDay(date.value);">
    </div>
    <table class="table" #tableSchedules>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Horário</th>
            </tr>
        </thead>
        <tbody #bodyScheduler>
            @if (getSchedulingList(); as listScheduling) {
                @for (item of listScheduling; track item; let i = $index) {
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td style="width: 20px;">{{ item.time }}</td>
                        <td style="width: 30px;"><span (click)="idScheduler = item.id; this.modalDeleteScheduling.showModal()" class="delete material-symbols-sharp">
                            close
                            </span>
                        </td>
                    </tr>
                } @empty {
                    <strong class="empty_if">Agendamento disponível pra essa data.</strong>
                }
            } @else {
                <strong class="empty_if">Carregando...</strong>
            }
        </tbody>
    </table>
    <dialog class="dialog_delete" #modalDeleteScheduling>
        <h4>Deseja mesmo excluir?</h4>
        <button style="margin: 0 10px; outline: 0;" class="btn_add" (click)="deleteScheduler(modalDeleteScheduling)">Sim</button>
        <button class="btn-delete" style="outline: 0;" (click)="this.modalDeleteScheduling.close()">Não</button>
    </dialog>
    <dialog class="dialog" #modalSchedules>
        <div class="dialog_layout">
            <div class="dialog_title">
                <h2>Novo Agendamento</h2>
            </div>
            <div class="dialog_content">
                <form id="schedules" [formGroup]="schedulesForm">
                    <label>
                        <span>Nome:</span>
                        <input class="inputGrey" type="text" formControlName="name" required>
                    </label>
                    <label>
                        <span>Descrição:</span>
                        <input class="description inputGrey" type="text" formControlName="description" required>
                    </label>
                    
                        <label>
                            <span>Horário:</span>
                            <input class="inputGrey" type="datetime-local" formControlName="dateScheduling" required>
    
                        </label>
                        @if (getCreateScheduling()) {
                            <span class="success_api" style="width: 100%;"><strong >{{ getCreateScheduling() }}</strong></span>
                        } @else if (getSchedulingListError()) {
                            <span class="error_api" style="width: 100%;"><strong >{{ getSchedulingListError() }}</strong></span>
                        }
                   
    
                    <div class="dialog_btns">
                        <button type="submit" (click)="submitSchedules()" [disabled]="!schedulesForm.valid" class="btn-update">Salvar</button>
                        <button class="btn-delete" (click)="closeDialog(modalSchedules)">Fechar</button>
                    </div>
                </form>
            </div>
            <div class="dialog_footer">
            </div>
        </div>
        
    </dialog>
    <button class="btn_add" (click)="this.modalSchedules.showModal()">Adicionar agendamento</button>
</div>
<!-- END CONTAINER SCHEDULES -->
