<app-register-contract buttonCreate="Salvar" [contractId]="getContractId()">
    <button #buttonPrintOut class="btn-back" type="button" (click)="navigateToPrintOut()">Imprmir</button>
    <button #buttonReserve style="background-color: #1f3853;" class="btn-update btn-contract" type="button" (click)="modalReserve.showModal()">{{buttonSituation()}}</button>
    <button #invoice style="background-color: #1f3853; display: none;" class="btn-update btn-contract" type="button" (click)="paymentFuture(modalInvoice)">Lançar pagamentos</button>
    <dialog #modalReserve class="dialog_delete">
        <h4 >Deseja realmente reservar? <br> Após a reserva, não será possível reverter o status e um lançamento de pagamento será gerado</h4>
        <div class="dialog_btns" style="width: 100%;">
            <button class="btn_add" type="button" (click)="reserve(invoice, buttonReserve, modalReserve)">Reservar</button>
            <button class="btn-delete" type="button" (click)="modalReserve.close()">Não</button>

        </div>
    </dialog>
    <dialog #modalInvoice class="dialog">
        <div class="dialog_layout">
            <div class="dialog_title">
                <h2>Pagamento</h2>
            </div>
            <div class="values">
                <h4>Parcelas:</h4>
                <p>Valor Total: {{valueTotalContract() | currency: 'BRL'}}</p>
                <p>Valor Pago: {{amountToPay() | currency: 'BRL'}}</p>
            </div>
            <div class="dialog_content">
                <form [formGroup]="paymentForm" class="form_payment">
                    <div class="table_container">
                        <table class="table">
                            @for (payment of payments; track payment; let i = $index) {
                            <tr [formGroup]="payment">
                                <td>
                                    <input #value class="inputGrey" type="number" placeholder="R$100,20" formControlName="paymentValue" (focusout)="attValuePaid(value)">
                                </td>
                                <td>
                                    <input class="inputGrey" type="date" formControlName="datePayment">
                                </td>
                                <td>
                                    <button style="height: 2em; width: 4em; margin-top: 0;" class="btn-delete" (click)="clearTr(i)"><span class="material-symbols-sharp">
                                        delete
                                        </span></button>
                                </td>
                            </tr>
                            }
                        </table>
                    </div>
                    
                </form>
                <button class="btn_add" type="button" (click)="addItens()">Add. parcela</button>

                <div class="span-error" style="width: 100%;">
                    @if (getContractPaymentError()) {
                        <span class="error_api">{{getContractPaymentError()}}</span>
                    } @else if (getContractPaymentSucess()){
                        <span class="success_api">{{getContractPaymentSucess()}}</span>
                    }
                </div>
 
                <div class="dialog_btns">
                    <button class="btn_add" type="button" (click)="payment(modalInvoice)">Salvar</button>
                    <button class="btn-delete" type="button" (click)="modalInvoice.close(); this.getContractPaymentError.set(null);  this.getContractPaymentSucess.set(null)">Fechar</button>
                </div>
            </div>   
            <div class="dialog_footer"></div>
        </div>
    </dialog>
</app-register-contract>

