

<app-table-contract buttonCreate="Salvar" [contractId]="getContractId()">
    <button #buttonReserve style="background-color: #1f3853;" class="btn-update btn-contract" type="button" (click)="modalReserve.showModal()">{{buttonSituation()}}</button>
    <button #invoice style="background-color: #1f3853; display: none;" class="btn-update btn-contract" type="button" (click)="paymentFuture(modalInvoice)">Lançar pagamentos</button>
    <dialog #modalReserve style="border: 0; box-shadow: 0 0 2em rgb(0 0 0 / .3); text-align: center; height: 15%;">
        <div style="display: flex; flex-direction: column; height: 100%; gap: 1.5em; justify-content: center;">
            <p>Deseja realmente reservar, após a reservar não terá como voltar<br> o status e gerará lançamento de pagamento</p>
            <div>
                <button style="margin: 0 10px;" class="btn_add" type="button" (click)="reserve(invoice, buttonReserve, modalReserve)">Reservar</button>
                <button class="btn-delete" type="button" (click)="modalReserve.close()">Não</button>
            </div>
        </div>
      
    </dialog>
    <dialog #modalInvoice style="border: 0; box-shadow: 0 0 2em rgb(0 0 0 / .3); text-align: center; width: 20%;">
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 1em;">
            <h4>Lançar pagamento</h4>
            <p>Valor total do contrato: {{valueTotalContract() | currency: 'BRL'}}</p>
            <p>Valor pago: {{valuePay() | currency: 'BRL'}}</p>
            <p>Valor a pagar: {{amountToPay() | currency: 'BRL'}}</p>
            <input #valuePayment style="width: 60%; text-align: center;" class="inputGrey" type="number" min="0">
        </div>

        <div style="display: flex; gap: 10px; text-align: center; justify-content: center;margin: 1em 0;">
            <button class="btn_add" type="button" (click)="payment(modalInvoice, valuePayment)">Salvar</button>
            <button class="btn-delete" type="button" (click)="modalInvoice.close()">Não</button>
        </div>

    </dialog>
</app-table-contract>

