:host {

    main {
        background: linear-gradient(to right, #333 10%, whitesmoke 100%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        background-size: 100%;

        label {
            color: rgb(117, 117, 117);
        }

        article {
            display: flex;
            flex-direction: column;
            width: 25%;
            background-color: whitesmoke;
            padding: 3em;
            border-radius: 0px 0px 10px 10px;
            gap: 10px;
            border: 0;

            form {
                display: flex;
                flex-direction: column;
                gap: 1em;
                
           
            }
        }
    }

    @media (max-width: 733px) {
        main {
           
            article {
                width: 50%;
            }
        }
    }
}