<h2>Clientes</h2>
<app-list-table-layout (outputSearch)="searchClient($event)" routeLink="register" nameCreate="Criar cliente" placeHolder="Encontrar cliente">
    <table class="table" #table>
        <thead>
            <tr>
                <th class="table_td_id">Id</th>
                <th>Nome / Razão</th>
                <th>CPF / CNPJ</th>
                <th class="table_td_phone">Celular</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            @if (getListClient(); as listClients) {
                @for (client of listClients; track $index) {
                    <tr>
                        <td class="table_td_id">{{ client.id }}</td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.cpfCnpj | cpfCnpj}}</td>
                        <td class="table_td_phone">{{client.celular | phone}}</td>
                        <td><a [routerLink]="['edit', client.id]"><button class="btn-edit"><span class="material-symbols-sharp">
                            edit
                            </span></button></a></td>
                        <td><button (click)="idClient = client.id; this.modalDelete.showModal()" style="height: 2.5em; width: 3em; margin-top: 0;" class="btn-delete"><span class="material-symbols-sharp">
                            delete
                            </span></button>
                        </td>
                    </tr> 
                }
            }
        </tbody>
    </table>
    <dialog class="dialog_delete" #modalDelete>
        <h4>Deseja mesmo excluir?</h4>
        <button style="margin: 0 10px;" class="btn_add" (click)="deleteClient(this.modalDelete)">Sim</button>
        <button class="btn-delete" (click)="this.modalDelete.close()">Não</button>
    </dialog>
    <div>
        <button class="btn-page">1</button>
    </div>
</app-list-table-layout>