<h2>Clientes</h2>
<app-list-table-layout (outputSearch)="filterClient($event)" routeLink="register" nameCreate="Criar cliente" placeHolder="Encontrar cliente">
    <table class="table" #table>
        <thead>
            <tr>
                <th class="table_td_id">Id</th>
                <th>Nome / Razão</th>
                <th>CPF / CNPJ</th>
                <th class="table_td_phone">Tel./Celular</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            @if (getListClient(); as listClients) {
                @for (client of listClients; track $index) {
                    <tr>
                        <td class="table_td_id"><a [routerLink]="['edit', client.id]">{{ client.id }}</a></td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.cpfCnpj | cpfCnpj}}</td>
                        <td class="table_td_phone">{{client.phone1 | phone}} / {{ client.phone2 | phone}}</td>
                        <td><a [routerLink]="['edit', client.id]"><button class="btn-edit"><span class="material-symbols-sharp">
                            edit
                            </span></button></a></td>
                        <td><button (click)="idClient = client.id; this.modalDelete.showModal()" style="height: 2.5em; width: 3em; margin-top: 0;" class="btn-delete"><span class="material-symbols-sharp">
                            delete
                            </span></button>
                        </td>
                    </tr> 
                }
            }
        </tbody>
    </table>
    <dialog class="dialog_delete" #modalDelete>
        <h4>Deseja mesmo excluir?</h4>
        @if ( getDeleteMsgError() ) {
            <span class="error_api">{{ getDeleteMsgError() }}</span>
        } 
        <button style="margin: 0 10px;" class="btn_add" (click)="deleteClient(this.modalDelete)">Sim</button>
        <button class="btn-delete" (click)="this.modalDelete.close()">Não</button>
    </dialog>
    <paginator-list [pageable]="getListClientPageable()"
                    (nextPageOutPut)="handlePageEvent($event)"
                    (previousPageOutPut)="handlePageEvent($event)"
    />
</app-list-table-layout>