.fontHelvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.paragraph-clauses {
    font-size: 11px !important;
    line-height: 15px;

    p {
        font-size: 11px !important;
        line-height: 15px;
    }
}