@use 'buttons';
@use 'inputs';
@use 'fontFamily';
@use 'alerts';
@use 'sucessError';
@use 'dialog';
@use 'menuUlAndLi';

.layout {
    width: 100%;
    background-color: whitesmoke;
    padding: 2em;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.table_container {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}

.table {
        width: 100%;
        border: 1px solid rgb(224, 224, 224);
        border-collapse: collapse;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        margin: 3rem 0;
        box-sizing: border-box;

        th {
            padding-bottom: 10px;
        }

        td, tr {
            border: 1px solid rgb(224, 224, 224);
           
        }

        tr, table {

            border-left: 0;
            border-right: 0;
        }
        
        tr {
            width: 95%;
            border-top: 0;
        }

        td{
            word-break: keep-all;
            text-align: center;
            box-sizing: border-box;
            
            border-bottom: 0;
            padding: 15px;
            border-left: 0;
            border-right: 0;
        }

        th, td {
            line-height: 2;
        }
    
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    gap: 1em;
    .number-box { 
        top: 20px;
        font-size: 22px;
    }

    span {
        font-size: 17px;
        color: #fff;
    }
}

.span_button {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5em;

}

::-webkit-scrollbar-thumb {
    background-color: rgb(175, 175, 175);
    border-radius: 20px;
  }

::-webkit-scrollbar {
    width: 5px;  
}

@media (max-width: 733px) {

    .layout {
        padding: 1.8em;
    }

    .table_container {
        max-height: 350px;
    }
    
    ::-webkit-scrollbar {
        height: 5px;
    }
    

}

