
<div class="layout">
    <div style="display: flex; align-items: center; min-width: 10rem; max-width: 25rem;gap: 10px;">
        <label><input #search class="inputGrey" type="search" placeholder="{{placeHolder}}"></label>
        <button style="margin-top: 0;" class="btn-update" (click)="emitSearch(search.value)"><span>Pesquisar</span></button>
    </div>
    <a [routerLink]="routeLink"><button class="btn_add">{{ nameCreate }}</button></a>
    
    <section>
        <ng-content></ng-content>
    </section>
</div>


