:host {

    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: center;
    padding: 2em 0em 1em 0em;
    gap: 5.5em;
    
    

    .active {
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        &:hover {
            background-color: #afafaf;
        }
    }

   
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        a {
            width: 205px;
            display: flex;
            align-items: center;
            margin-left: 2em;
            gap: 10px;
            color: grey;
            transition: all 0.2s ease;
            cursor: pointer;
            
            &:hover {
                color: white;
            }
            
            span {
                transition: all 0.1s ease;
            }
    
            h3 {
                font-size: 19px;
                font-weight: normal;
            }
        }
    }

    .logout {
        position: absolute;
        bottom: 2em;
    }

    @media (max-height: 669px) {

        :host {
            gap: 1em;
        }

        .logout {
            bottom: 1em;
        }

    }

}
   