:host {
    height: 100%;
    width: 100%;

    .active {
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;

        &:hover {
            background-color: #afafaf;
        }
    }

    .sidebar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 95vh;
        top: 1.5rem;

        nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            margin-top: 6rem;
            width: 100%;
            a:last-child {
                position: absolute;
                bottom: 2rem;
            }

            a {
                width: 100%;
                display: flex;
                align-items: center;
                text-align: center;
                margin-left: 10px;
                gap: 10px;
                color: grey;
                transition: all 0.2s ease;
                cursor: pointer;
                
                &:hover {
                    color: white;
                }
                
                span {
                    transition: all 0.1s ease;
                }
        
                h3 {
                    font-size: 19px;
                    font-weight: normal;
                }
            }
        }
        
    }


}
   