
    <img src="../../assets/logopequeno.png" width="100px" alt="">
    <nav>
        <a [routerLink]="['dashboard']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <span class="material-symbols-sharp">
            dashboard
            </span>
            <h3>Dashboard</h3>
        </a>
        <a [routerLink]="['clients']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <span class="material-symbols-sharp">
            person
        </span>
        <h3>Clientes</h3>
        </a>
        <a [routerLink]="['orcamento']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <span class="material-symbols-sharp">
            contract
            </span>
        <h3>Contratos</h3>
        </a>
        <a [routerLink]="['item']" 
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <span class="material-symbols-sharp">
            database
            </span>
        <h3>Produtos</h3>
        </a>
        <a [routerLink]="['category']" 
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <span class="material-symbols-sharp">
            category
            </span>
        <h3>Categoria</h3>
        </a>
        <a [routerLink]="['admin/edit']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page" [style.display]="authorization">
        <span class="material-symbols-sharp">
            admin_panel_settings
            </span>
        <h3>Administração</h3>
        </a>
        <a class="logout" (click)="logout()">
            <span class="material-symbols-sharp">
            logout
            </span>
        <h3>Logout</h3></a>
    </nav>

