<h2>Produtos</h2>

<app-list-table-layout (outputSearch)="searchItem($event)" routeLink="register" nameCreate="Criar item" placeHolder="Encontrar item">
    <content>
        <table class="table" #table>
            <thead>
                <tr>
                    <th>Cód.</th>
                    <th></th>
                    <th>Referência</th>
                    <th>Nome do Produto</th>
                    <th>Quantidade</th>
                    <th id="td-replacement">Val. Reposição</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
    
            @for (item of getListItems$(); track item.cod; let i = $index) {
                <tr #tr>
                    <td style="width: 100px; padding: 0;"><a [routerLink]="['edit', item.cod]">{{item.cod}}</a></td>
                    <td style="width: 120px; height: 150px; padding: 0;"><img style="width: 85px; height: 100%;" src="{{item.imagem}}" alt="">
                    </td>
                    <td>{{ item.reference }}</td>
                    <td style="width: 400px; padding: 0;">{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td id="td-replacement">{{item.replacementValue | currency : "BRL"}}</td>
                    <td><button [routerLink]="['edit', item.cod]" class="btn-edit"><span class="material-symbols-sharp">
                        edit
                        </span></button></td>
                    <td><button style="height: 2.5em; width: 3em; margin-top: 0;" 
                        class="btn-delete" 
                        (click)="idProductDelete = item.cod; deleteRowTableList = i; modalDelete.showModal()">
                        <span class="material-symbols-sharp">
                        delete
                        </span></button></td>
                </tr> 
            }
        </table>
        <dialog #modalDelete class="dialog_delete" (keydown)="false">
            <h4>Deseja mesmo excluir?</h4>
            @if (getError$()) {
                <span class="error_api">{{ getError$() }}</span>
            } 
            <button type="button" style="margin: 0 10px;" class="btn_add" (click)="deleteProduct(modalDelete)">Sim</button>
            <button type="button" class="btn-delete" (click)="modalDelete.close(); this.getError$.set(null)">Não</button>
        </dialog>
    </content>
    
    <paginator-list paginator-container [pageable]="getListItemPage$()"
                    (nextPageOutPut)="handlePageEvent($event)"
                    (previousPageOutPut)="handlePageEvent($event)"
    />

</app-list-table-layout>



