
:host {
    width: 100%;
    height: 100%;

    a {
        text-decoration: underline;
    }

    section {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

        div {
            display: flex;
            justify-content: end;
            
            button {
                margin: 10px 2px;
                width: 30px;
            }
        }
        
    }
    
    label {
        display: flex;
        width: 100%;
        height: 100%;
        gap: 10px;
        input {
            height: 100%;
        }
    }

    .category-search{
        display: flex;
        gap: 0.2em;
        padding: 0 0 0.5em 0;
    }

    .category-search_radio{
        display: flex;
        
        input{
            accent-color: #0090d9;
        }

        label{
            font-weight: 600;
        }
    }

    @media (max-width: 733px) {
        

        #td-replacement {
            display: none;
        }

        .category-search{
            display: flex;
            align-items: center;
        }

        .loading-spinner{
            left: 40%;
        }

    }
}



